main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#spiner {
    animation: loads 20000ms;
}

@keyframes loads {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(5360deg);
    }
}

.error-alert {
    margin-top: -20px;
    margin-bottom: -18px;
    padding-left: 7px;
    font-size: 13px;
    font-weight: 500;
    color: var(--alert100);
    display: flex;
    flex-wrap: wrap;
    max-width: 321px;
}
